/.htaccess
/administrator/cache/*
/administrator/components/*
!/administrator/components/com_compras/
/administrator/help/*
/administrator/includes/*
/administrator/index.php
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_compras.ini
!/administrator/language/en-GB/en-GB.com_compras.sys.ini
/administrator/language/es-ES/*
!/administrator/language/es-ES/es-ES.com_compras.ini
!/administrator/language/es-ES/es-ES.com_compras.sys.ini
/administrator/language/overrides/*
/administrator/language/index.html
/administrator/logs/*
/administrator/manifests/*
/administrator/modules/*
/administrator/templates/*
/bin/*
/cache/*
/cli/*
/components/*
!/components/com_compras/
/components/index.html
/images/*
/includes/*
/installation/*
/language/en-GB/*
!/language/en-GB/en-GB.ini
!/language/en-GB/en-GB.com_compras.ini
/language/es-ES/*
!/language/es-ES/es-ES.ini
!/language/es-ES/es-ES.com_compras.ini
/language/overrides/*
/language/index.html
/layouts/*
/libraries/*
/media/*
!/media/com_compras/
/modules/*
!/modules/mod_responsive_contact_form/
!/modules/mod_nuestros_clientes_dicen/
/plugins/*
/templates/*
!/templates/binnakle/
/tmp/*
/configuration.php
/htaccess.txt
/index.php
/joomla.xml
/LICENSE.txt
/README.txt
/robots.txt.dist
/web.config.txt