<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="General" label="General">
		<field name="UseCountry" type="radio" default="1" label="Use Country" description="Use Country">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    </fieldset>
	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>
		<field name="rules" type="rules"
			component="com_compras"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
</config>